/* body {
    background-color: darkgoldenrod;
    background: url("./assets/house.jpg");
}

div {
    width: 50vw;
    height: 80vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */
body {
    background-color: aliceblue;
}